DISCORD_APPLICATION_ID=<discord_application_id>
DISCORD_PUBLIC_KEY=<discord_public_key>
DISCORD_BOT_TOKEN=<discord_bot_token>
DISCORD_GUILD_ID=<discord_guild_id>

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=<cloudflare_account_id>
CLOUDFLARE_API_TOKEN=<cloudflare_api_token>